
# dependencies
node_modules/

# build
dist/
client/dist/
server/dist/

# env
.env
.env.local
.env.production

# logs
*.log

# OS
.DS_Store

coverage

ARCHITECTURE.md
server/hashPassword.js
server/image_test_02.jpg
server/image_test_03.jpg
server/image_test_04.jpg
