
# dependencies
node_modules/

# build
dist/
client/dist/
server/dist/

# env
.env
.env.local
.env.production
.env.docker

# logs
*.log

# OS
.DS_Store

coverage

server/hashPassword.js

client/FRONTEND_DEV.md

docker-compose.yml