.rich-text-content {
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
}

.rich-text-content strong {
  font-weight: 900;
}

.rich-text-content em {
  font-style: italic;
}

.rich-text-content p {
  margin-bottom: 1rem;
}

.rich-text-content a {
  color: inherit;
  text-decoration: underline;
}

@media (min-width: 900px) {
  .rich-text-content {
    font-size: 1.125rem; /* medium */
  }
}

@media (min-width: 1200px) {
  .rich-text-content {
    font-size: large; /* large */
  }
}